

<style>
  body{
    background-image: url("https://cdn.pixabay.com/photo/2018/02/23/22/04/book-bindings-3176776_1280.jpg")
  }
</style>

<body>
  <div class="container"> 
    <div class="row">
      <div class="col">
        <h1>自分で問題を作って、自分だけの問題集を作ろう</h1>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col text-center">
        <%= link_to '使ってみる', '/users/sign_up'%>
      </div>
    </div>


</body>